extends layout

block content
    main
        header
            h1= `Beskeder fra ${user.username}`
            a(href="/") Gå tilbage

        div
            p Her er en liste over beskederne fra #{user.username}:

            table
                if messages && messages.length
                    each message, i in messages
                        tr 
                            td
                                | #{message.text} (i chat: #{chats[i].name}) #{message.createdAt}
            
                else
                    tr
                        td Der er ikke oprettet nogle chats
